version: 2.1
workflows:
  version: 2
  main:
    jobs:
      - test-behat:
          name: "Test with SimpleSAMLphp 1.18.0"
          simplesamlphp_version: "1.18.0"
      - test-behat:
          name: "Test with SimpleSAMLphp 2.0.0"
          simplesamlphp_version: "2.0.0"
      - test-behat:
          name: "Test with SimpleSAMLphp 2.4.0"
          simplesamlphp_version: "2.4.0"
      - test-phpunit:
          matrix:
            parameters:
              php_version: ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
      - behat-cleanup:
          requires:
            - "Test with SimpleSAMLphp 1.18.0"
            - "Test with SimpleSAMLphp 2.0.0"
            - "Test with SimpleSAMLphp 2.4.0"
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test-behat:
          name: "Test with SimpleSAMLphp 1.18.0"
          simplesamlphp_version: "1.18.0"
      - test-behat:
          name: "Test with SimpleSAMLphp 2.0.0"
          simplesamlphp_version: "2.0.0"
      - test-behat:
          name: "Test with SimpleSAMLphp 2.4.0"
          simplesamlphp_version: "2.4.0"
      - behat-cleanup:
          requires:
            - "Test with SimpleSAMLphp 1.18.0"
            - "Test with SimpleSAMLphp 2.0.0"
            - "Test with SimpleSAMLphp 2.4.0"
jobs:
  test-behat:
    parameters:
      simplesamlphp_version:
        type: enum
        enum:
          - "1.18.0"
          - "2.0.0"
          - "2.4.0"
    working_directory: ~/pantheon-systems/wp-saml-auth
    docker:
    - image: quay.io/pantheon-public/build-tools-ci:8.x-php8.2
    steps:
    - checkout
    - restore_cache:
        keys:
          - composer-cache-v1-{{ checksum "composer.lock" }}
          - composer-cache-v1-
    - run:
        name: Install Composer dependencies
        command: composer install -n --prefer-dist
    - save_cache: # Save composer's internal cache
        key: composer-cache-v1-{{ checksum "composer.lock" }}
        paths:
          - vendor
    - run: echo $(openssl rand -hex 8) > /tmp/WORDPRESS_ADMIN_PASSWORD
    - run:
        name: Set environment variables
        command: |
          echo 'export TERMINUS_ENV=ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
          echo 'export TERMINUS_SITE=wp-saml-auth' >> $BASH_ENV
          echo 'export SITE_ENV=wp-saml-auth.ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_USERNAME=pantheon' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_EMAIL=no-reply@getpantheon.com' >> $BASH_ENV
          echo 'export WORDPRESS_ADMIN_PASSWORD=$(cat /tmp/WORDPRESS_ADMIN_PASSWORD)' >> $BASH_ENV
          echo 'export SIMPLESAMLPHP_VERSION="<< parameters.simplesamlphp_version >>"' >> $BASH_ENV
          source $BASH_ENV
    - run: echo "StrictHostKeyChecking no" >> "$HOME/.ssh/config"
    - run: |
        if [ -z "$GITHUB_TOKEN" ]; then
          echo "GITHUB_TOKEN environment variables missing; assuming unauthenticated build"
          exit 0
        fi
        echo "Setting GitHub OAuth token with suppressed ouput"
        {
          composer config -g github-oauth.github.com $GITHUB_TOKEN
        } &> /dev/null
    - run: |
        if [ -z "$TERMINUS_TOKEN" ]; then
          echo "TERMINUS_TOKEN environment variables missing; assuming unauthenticated build"
          exit 0
        fi
        terminus auth:login --machine-token=$TERMINUS_TOKEN
    - run:
        name: Save environment name for cleanup
        command: |
          echo "wp-saml-auth.ci-$CIRCLE_BUILD_NUM" > "/tmp/site_env_<< parameters.simplesamlphp_version >>.txt"
    - persist_to_workspace:
        root: /tmp
        paths:
          - "site_env_<< parameters.simplesamlphp_version >>.txt"
    - run:
        name: Validate fixture version
        command: ./bin/validate-fixture-version.sh
    - run:
        name: Prepare and run Behat tests
        command: |
          set -e
          source $BASH_ENV

          # Prepare fixture environment for tests.
          if [ << parameters.simplesamlphp_version >> != '1.18.0' ]; then
            ./bin/behat-prepare.sh
          else
            ./bin/1.18/behat-prepare-simplesaml1.18.0.sh
          fi

          echo ""
          echo "=========================================================================="
          echo "Running Behat on https://${TERMINUS_ENV}-${TERMINUS_SITE}.pantheonsite.io/wp-login.php"
          echo "with SimpleSAMLphp version $SIMPLESAMLPHP_VERSION"
          echo "=========================================================================="
          echo ""
          ./bin/behat-test.sh --strict
  behat-cleanup:
    docker:
      - image: quay.io/pantheon-public/build-tools-ci:8.x-php8.2
    working_directory: ~/pantheon-systems/wp-saml-auth
    steps:
      - attach_workspace:
          workspace: ~/workspace
          at: /tmp/behat-envs
      - checkout
      - run:
          name: Set environment variables
          command: |
            echo 'export TERMINUS_SITE=wp-saml-auth' >> $BASH_ENV
            echo 'export TERMINUS_ENV=ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
            echo 'export SITE_ENV=wp-saml-auth.ci-$CIRCLE_BUILD_NUM' >> $BASH_ENV
            source $BASH_ENV
      - run: |
          if [ -z "$TERMINUS_TOKEN" ]; then
            echo "TERMINUS_TOKEN environment variables missing; assuming unauthenticated build"
            exit 0
          fi
          terminus auth:login --machine-token=$TERMINUS_TOKEN
      - run:
          name: Run Cleanup Script
          command: ./bin/behat-cleanup.sh
  test-phpunit:
    parameters:
      php_version:
        type: enum
        enum: ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]
    working_directory: ~/pantheon-systems/wp-saml-auth
    docker:
      - image: cimg/php:<< parameters.php_version >>
      - image: circleci/mariadb:10.4
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - test-phpunit-dependencies-{{ checksum "composer.json" }}
      - run: |
          composer update
          composer install -n --prefer-dist
          chmod +x bin/*.sh
      - save_cache:
          key: test-phpunit-dependencies-{{ checksum "composer.json" }}
          paths:
            - vendor
      - run:
          name: "Install Extras"
          command: |
            sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 4EB27DB2A3B88B8B
            sudo apt-get update
            sudo apt-get install subversion
            sudo apt-get install -y libmagickwand-dev --no-install-recommends
            yes '' | sudo pecl install imagick || true
            sudo docker-php-ext-enable imagick
            sudo docker-php-ext-install mysqli
            sudo apt-get install mariadb-client
            curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod +x wp-cli.phar
            sudo mv wp-cli.phar /usr/local/bin/wp
      - run:
          name: "Run Tests"
          command: |
            composer test:install:withdb
            composer phpunit
