name: Build, Tag, and Release
on:
  push:
    branches:
      - 'master'

permissions:
  pull-requests: write
  contents: write

jobs:
  tag:
    name: Tag and Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Build, tag, and release
      uses: pantheon-systems/plugin-release-actions/build-tag-release@a3839d25efa9d0d4270c088702c2072a2e49edde # main
      with:
        gh_token: ${{ secrets.GITHUB_TOKEN }}
        build_composer_assets: "true"
        generate_release_notes: "true"
        draft: "true"