# On push, run the action-wporg-validator workflow.
name: Lint and Test
on: [push]
jobs:
  validate-readme-spacing:
    name: Validate README Spacing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: pantheon-systems/validate-readme-spacing@229ea162621009cf8e09bf2beba405017150130e # v1.0.5
  wporg-validation:
    name: WP.org Validator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: WP.org Validator
        uses: pantheon-systems/action-wporg-validator@c31410aab94fc92305aec9cba6bce46040ebe3d4 # v1.1.5
        with:
          type: plugin
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Lint
        run: |
          composer install
          composer lint
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Run ShellCheck
        run: |
          shellcheck --version
          shellcheck bin/*.sh
