# On push, run the action-wporg-validator workflow.
name: Lint and Test
on: [push]
permissions:
  contents: write
jobs:
  validate-readme-spacing:
    name: Validate README Spacing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pantheon-systems/validate-readme-spacing@v1
  wporg-validation:
    name: WP.org Validator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: WP.org Validator
        uses: pantheon-systems/action-wporg-validator@1.0.0
        with:
          type: plugin
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        run: |
          composer install
          composer lint
